<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.computerrock.analytics">

    <application>
        <meta-data
            android:name="install_channel"
            android:value="AppGallery" />
    </application>

</manifest>